* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
	font-weight: 100;
    line-height: 1;
}

body {
    background: linear-gradient(45deg, #c0f3f1, #e5cbf6);
    overflow: hidden;
}
.sidebar-navigation {
    display: inline-block;
    min-height: 100vh;
    width: 80px;
    background-color: #313443;
    float: left;
}
.sidebar-navigation ul {
    text-align: center;
    color: white;
}
.sidebar-navigation ul li {
    padding: 28px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
}
.sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}
.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #313443;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.sidebar-navigation ul li .tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}
.sidebar-navigation ul li:hover {
    background-color: #22252e;
}
.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.sidebar-navigation ul li.active {
    background-color: #22252e;
}
.sidebar-navigation ul li.active i {
    color: #98d7ec;
}

.container {
    overflow: auto;
    min-height: 200px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
th {
    text-align: center;
}
thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}

tr{
    border:#c09eff solid 1px
}

a {
    font-family: sans-serif;
	font-weight: 100;
    text-decoration: none;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.center {
    text-align: center;
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-family: Arial, sans-serif;
    color: white;
  }

  .approved {
    background-color: #50C878;
  }

  .rejected {
    background-color: #FF5555;
  }

  .pending {
    background-color: #FFA07A;
  }